# Node modules
/node_modules

# Environment
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
*.log
logs

# Build
/dist
/build
/.cache

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads
/uploads

# Test coverage
/coverage